USE [master]
GO
/****** Object:  Database [DEV_CODES_APPDB]    Script Date: 2/14/2018 9:17:18 AM ******/
CREATE DATABASE [DEV_CODES_APPDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DEV_CODES_APPDB', FILENAME = N'J:\MSSQL12.DEVDW50299\MSSQL\DATA\DEV_CODES_APPDB.mdf' , SIZE = 102400000KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DEV_CODES_APPDB_log', FILENAME = N'J:\MSSQL12.DEVDW50299\MSSQL\DATA\DEV_CODES_APPDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DEV_CODES_APPDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DEV_CODES_APPDB]
GO
/****** Object:  User [SVC\DOS SOs]    Script Date: 2/14/2018 9:17:18 AM ******/
CREATE USER [SVC\DOS SOs] FOR LOGIN [SVC\DOS SOs]
GO
/****** Object:  User [SVC\_vdunaka]    Script Date: 2/14/2018 9:17:18 AM ******/
CREATE USER [SVC\_vdunaka] FOR LOGIN [SVC\_vdunaka] WITH DEFAULT_SCHEMA=[SVC\_vdunaka]
GO
/****** Object:  User [SVC\_jgudimetla]    Script Date: 2/14/2018 9:17:18 AM ******/
CREATE USER [SVC\_jgudimetla] FOR LOGIN [SVC\_jgudimetla] WITH DEFAULT_SCHEMA=[SVC\_jgudimetla]
GO
ALTER ROLE [db_owner] ADD MEMBER [SVC\DOS SOs]
GO
/****** Object:  Schema [CODES]    Script Date: 2/14/2018 9:17:18 AM ******/
CREATE SCHEMA [CODES]
GO
/****** Object:  Schema [SVC\_jgudimetla]    Script Date: 2/14/2018 9:17:18 AM ******/
CREATE SCHEMA [SVC\_jgudimetla]
GO
/****** Object:  Schema [SVC\_vdunaka]    Script Date: 2/14/2018 9:17:18 AM ******/
CREATE SCHEMA [SVC\_vdunaka]
GO
/****** Object:  Table [CODES].[L_Country]    Script Date: 2/14/2018 9:17:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CODES].[L_Country](
	[CountryID] [varchar](10) NOT NULL,
	[CountryName] [varchar](35) NOT NULL,
	[CountryNameShort] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CODES].[L_County]    Script Date: 2/14/2018 9:17:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CODES].[L_County](
	[CountyID] [varchar](10) NOT NULL,
	[CountyName] [varchar](35) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[StateID] [varchar](10) NOT NULL,
 CONSTRAINT [PK_L_County] PRIMARY KEY CLUSTERED 
(
	[CountyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CODES].[L_State]    Script Date: 2/14/2018 9:17:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CODES].[L_State](
	[StateID] [varchar](10) NOT NULL,
	[StateName] [varchar](35) NOT NULL,
	[StateNameShort] [varchar](10) NOT NULL,
	[CountryID] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CODES].[L_County]  WITH CHECK ADD FOREIGN KEY([StateID])
REFERENCES [CODES].[L_State] ([StateID])
GO
ALTER TABLE [CODES].[L_County]  WITH CHECK ADD FOREIGN KEY([StateID])
REFERENCES [CODES].[L_State] ([StateID])
GO
ALTER TABLE [CODES].[L_State]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [CODES].[L_Country] ([CountryID])
GO
USE [master]
GO
